#toast-container {
  top: auto !important;
  right: auto !important;
  bottom: 70%;
  left: 45%;
}

.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.stickyFooter {
  body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }
}

/* starting state of animation */
.fade-enter {
  right: 100px;
}

/* end state of animation */
.fade-enter-active {
  right: 0px;
  transition: 0.5s ease-in all;
}

.fade-leave {
  right: 0px;
}

.fade-leave-active {
  right: -100px;
  transition: 0.5s ease-out all;
}
